@import "fonts";
@import "nullstyle";

@mixin geometry($width, $height, $maxWidth, $padding, $margin) {
  width: $width;
  height: $height;
  max-width: $maxWidth;
  padding: $padding;
  margin: $margin;
}

@mixin flex($flex, $justifyContent, $alignItems) {
  display: flex;
  flex: $flex;
  justify-content: $justifyContent;
  align-items: $alignItems;
}

@mixin font($fFamily, $fSize, $fWeight, $fStyle, $fLineHeight, $fColor) {
  font-family: $fFamily;
  font-size: $fSize;
  font-weight: $fWeight;
  font-style: $fStyle;
  line-height: $fLineHeight;
  color: $fColor;
}

body {
  background: url("@img/bg.jpg") no-repeat;
  background-size: cover;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.btn {
  @include font("Montserrat-Regular", 20px, 500, normal, 33px, #fff);

  padding: 10px 25px;
  margin-bottom: 20px;

  background: #5e86ed;
  border-radius: 0px 31px;
  border: none;
  outline: none;
  cursor: pointer;
  text-align: center;

  transition: all 0.5s ease;

  &:hover {
    background: #4260ac;
  }
}


.title {
  @include font("Montserrat-Regular", 50px, 600, normal, 115.59%, #3A4149);
  text-align: center;
  margin-bottom: 60px;

  @media (max-width: 767px) {
    @include font("Montserrat-Regular", 34px, 600, normal, 105%, #3a4149);
  }
}

//====================

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 50;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    background: #fff;
    box-shadow: 0 4px 21px rgba(0, 0, 0, 0.15);
  }

  &__flex {
    @include geometry(100%, 75px, 1200px, 0 15px, 0 auto);
    @include flex(1 1 50%, space-between, center);
    position: relative;
    z-index: 2;
  }

  &__flexMenu {
    display: flex;
  }
  // .header__links
  
  &__links {
    text-decoration: none;
    margin-left: 25px;
    @include font("Montserrat-Bold", 18px, normal, normal, 20px, #000);
    position: relative;
    transition: all 0.3s ease;

    &:first-child {
      margin-left: 0;
    }

    &::after {
      content: "";
      width: 0;
      height: 2px;
      background: #5e86ed;
      position: absolute;
      left: 0;
      bottom: -27px;
    }

    &.active {
      &::after {
        width: 100%;
      }
    }

    &:hover {
      color: rgb(112, 112, 112);
    }
  }

  &__burger {
    display: none;
  }

  &__flexNavBlock {
    display: none;
  }

  @media (max-width: 767px) {

    &__burger {
      display: block;
      width: 40px;
      height: 30px;
      position: relative;

      &>span {
        width: 30px;
        height: 4px;

        border-radius: 5px;
        background-color: #5E86ED;

        position: absolute;
        top: 50%; margin-top: -1.5px;
        right: 0;
      }

      &::after,
      &::before {
        content: '';
        width: 100%;
        height: 4px;

        border-radius: 5px;
        background-color: #5E86ED;

        position: absolute;
        left: 0;
      }

      &::after {
        top: 0;
      }

      &::before {
        bottom: 0;
      }
    }

    &__nav {
      display: none;
      opacity: 0;
      width: 100%;
      height: 100%;

      position: fixed;
      top: 0;
      left: 0;

      background: #fff;

      &.active {
        display: block;
        animation: navActive .5s ease 1 forwards;
      }
      &.removeAnim {
        animation: navRemove .5s ease 1 forwards;
      }
    }
    // animation for nav
    @keyframes navActive {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }
    @keyframes navRemove {
      from {
        opacity: 1;
      }
      to {
        opacity: 0;
      }
    }

    &__flexNavBlock {
      display: flex;
      width: 100%;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 30px;

      &>h1 {
        @include font("Montserrat-Bold", 22px, 700, normal, 16px, #5E86ED);
      }
      &>button {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: #5E86ED;
        border: none;
        position: relative;

        transition: all .3s ease;

        &>span {
          width: 25px;
          height: 3px;
          background-color: #fff;
          border-radius: 10px;
          position: absolute;
          top: 50%; margin-top: -1.5px;
          left: 50%; margin-left: -12.5px;
        }
        &::after,
        &::before {
          content: '';
          width: 15px;
          height: 3px;
          background-color: #fff;
          border-radius: 10px;
          position: absolute;
          right: 20%;
        }

        &::after {
          top: 55%;
          transform: rotate(-40deg);
        }
        &::before {
          bottom: 55%;
          transform: rotate(40deg);
        }
        
        &:hover {
          background-color: rgb(55, 92, 185);
        }
      }
    }

    &__flexMenu {
      padding: 30px;
      flex-direction: column;
      align-items: center;
      width: 75%;
      height: 100%;

      border-radius: 0 0 0 25px;
      box-shadow: 0 0 25px rgba(0, 0, 0, 0.376);

      position: absolute;
      top: 0;
      right: 0;
      transform: translateX(110%);

      &.active {
        animation: menuActive .5s ease .2s 1 forwards;
      }
      &.removeAnim {
        animation: menuRemove .3s ease 1 forwards;
      }
    }
    // animations for menu
    @keyframes menuActive {
      from {
        transform: translateX(110%);
      }
      to {
        transform: translateX(0);
      }
    }
    @keyframes menuRemove {
      from {
        transform: translateX(0);
      }
      to {
        transform: translateX(110%);
      }
    }

    &__links {
      margin-left: 0;
      margin-bottom: 30px;

      &::after {
        height: 3px;
        border-radius: 3px;
        bottom: -5px;
      }
    }
  }
}

//===========MAIN=============\\

.main {
  width: 100%;
  margin: 150px 0 150px 0;

  @media (max-width: 767px) {
    margin: 80px 0;
  }

  // .main__flex

  &__flex {
    max-width: 100%;
    
    @include flex(1 1 50%, space-around, center);

    @media (max-width: 600px) {
      flex-direction: column;
    }
  }

  // .main__content

  &__content {
    padding: 0 16px;

    @media (max-width: 600px) {
      margin-top: 15px;
      order: 2;
    }
  }

  // .main__subtitle

  &__subtitle {
    @include font("Montserrat-Regular", 20px, 400, normal, 24px, #25459a);

    margin-bottom: 15px;

    @media (max-width: 767px) {
      font-size: 18px;
    }
  }

  // .main__title

  &__title {
    @include font("Montserrat-Bold", 56px, 600, normal, 115%, #3a4149);

    margin-bottom: 15px;

    @media (max-width: 767px) {
      font-size: 34px;
    }
  }

  // .main__text

  &__text {
    @include font("Montserrat-Regular", 20px, 400, normal, 164.09%, #3a4149);

    margin-bottom: 20px;

    @media (max-width: 767px) {
      font-size: 18px;
    }
  }

  &__btn {
    padding: 15px 40px;
  }
}

.ourFunny {
  width: 100%;
  margin-bottom: 150px;

  @media (max-width: 767px) {
    margin-bottom: 80px;
  }
  // .ourFunny__flex

  &__flex {
    max-width: 100%;
    padding: 0 20px;
    
    @include flex(1 1 33.333333%, space-around, center);

    @media (max-width: 1200px) {
      flex-direction: column;
    }
  }

  // .ourFunny__cards

  &__cards {
    max-width: 370px;
    margin-left: 30px;

    &:first-child {
      margin-left: 0;
    }
    
    text-align: center;

    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.305);
    border-radius: 15px;
    background: #fff;

    overflow: hidden;

    @media (max-width: 1200px) {
      margin-left: 0;
      margin-bottom: 30px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  // .ourFunny__img

  &__img {
    margin-bottom: 20px;
  }

  // .ourFunny__cardsTitle

  &__cardsTitle {
    @include font("Montserrat-Regular", 20px, 600, normal, 115.09%, #3a4149);
    margin: 0 20px 25px 20px;
  }

  // .ourFunny__cardsText

  &__cardsText {
    @include font("Montserrat-Regular", 18px, 400, normal, 115.59%, #3a4149);
    margin: 0 20px 25px 20px;
  }

  &__decorLine {
    display: block;
    width: 100%;
    margin-bottom: 25px;
    
    border: 1px solid #dddddd;

    position: relative;

    &::after,
    &::before {
      content: '';
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background: #dddddd;
      position: absolute;
    }

    &::after {
      left: -12.5px;
      top: 50%; margin-top: -12.5px;
    }
    &::before {
      right: -12.5px;
      top: 50%; margin-top: -12.5px;
    }
  }
}


.review {
  width: 100%;
  padding: 0 30px;
  margin-bottom: 150px;
  
  @media (max-width: 767px) {
    margin-bottom: 80px;
  }
  // .review__card

  &__card {
    max-width: 903px;
    max-height: 447px;
    margin: 100px auto 0 auto;

    background: #5E86ED;
    border-radius: 20px;
    transform: rotate(-6.23deg);

    @media (max-width: 767px) {
      margin: 0 auto;
    }
  }

  // .review__img

  &__img {
    transform: rotate(6.23deg);
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    position: relative;
  }

  // .review__btn

  &__btn {
    max-width: 15%;
    max-height: 15%;
    position: absolute;
    top: 50%; margin-top: -7.5%;
    left: 50%; margin-left: -7.5%;

    &>img {
      border-radius: 50%;
      transition: all .4s ease;
    }

    &:hover > img {
        transform: scale(1.1);
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.397);
    }
  }
}

.question {
  width: 100%;
  padding: 0 30px;
  margin-bottom: 150px;
  
  @media (max-width: 767px) {
    margin-bottom: 80px;
  }
  // .question__flex

  &__flex {
    @include flex(1 1 50%, space-between, center);

    @media (max-width: 1200px) {
      flex-direction: column;
    }
  }

  // .question__img

  &__img {
    @media (max-width: 1200px) {
        margin-bottom: 15px;
    }
  }

  // .question__content

  &__content {
    max-width: 570px;
  }

  // .question__title

  &__title {
    @include font("Montserrat-Regular", 40px, 600, normal, 115.09%, #3a4149);
    margin-bottom: 15px;

    @media (max-width: 1200px) {
      font-size: 30px;
    }
  }

  // .question__subtitle

  &__subtitle {
    @include font("Montserrat-Regular", 20px, 400, normal, 164.09%, #5E86ED);
    margin-bottom: 15px;

    @media (max-width: 1200px) {
      font-size: 16px;
    }
  }

  // .question__text

  &__text {
    @include font("Montserrat-Regular", 22px, 500, normal, 164.09%, #3a4149);
    margin-bottom: 15px;

    @media (max-width: 1200px) {
      font-size: 18px;
    }
  }
}

.footer {
  width: 100%;
  padding: 0 30px;
  margin-bottom: 30px;

  // .footer__copyright

  &__copyright {
    @include font("Montserrat-Regular", 18px, 400, normal, 115.59%, #A6A6A6);
    margin-bottom: 25px;
    text-align: center;
  }

  // .footer__links

  &__links {
    display: flex;
    max-width: 250px;
    margin: 0 auto;
    align-items: center;
  }

  // .footer__link

  &__link {
    @include font("Montserrat-Regular", 18px, 400, normal, 115.59%, #A6A6A6);
    margin-left: 25px;
  }
}