@import "fonts";
@import "nullstyle";

@mixin geometry($width, $height, $maxWidth, $padding, $margin) {
  width: $width;
  height: $height;
  max-width: $maxWidth;
  padding: $padding;
  margin: $margin;
}

@mixin flex($flex, $justifyContent, $alignItems) {
  display: flex;
  flex: $flex;
  justify-content: $justifyContent;
  align-items: $alignItems;
}

@mixin font($fFamily, $fSize, $fWeight, $fStyle, $fLineHeight, $fColor) {
  font-family: $fFamily;
  font-size: $fSize;
  font-weight: $fWeight;
  font-style: $fStyle;
  line-height: $fLineHeight;
  color: $fColor;
}

body {
  background: url("@img/bg.jpg") no-repeat;
  background-size: cover;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.btn {
  @include font("Montserrat-Regular", 20px, 500, normal, 33px, #fff);

  padding: 10px 25px;
  margin-bottom: 20px;

  background: #5e86ed;
  border-radius: 0px 31px;
  border: none;
  outline: none;
  cursor: pointer;
  text-align: center;

  transition: all 0.5s ease;

  &:hover {
    background: #4260ac;
  }
}


.title {
  @include font("Montserrat-Regular", 50px, 600, normal, 115.59%, #3A4149);
  text-align: center;
  margin-bottom: 60px;

  @media (max-width: 768px) {
    @include font("Montserrat-Regular", 34px, 600, normal, 105%, #3a4149);
  }
}

//====================

.header {
  width: 100%;

  background: #fff;
  box-shadow: 0 4px 21px rgba(0, 0, 0, 0.15);

  position: fixed;
  top: 0;
  z-index: 1;

  &__flex {
    @include geometry(100%, 75px, 1200px, 0 15px, 0 auto);
    @include flex(1 1 50%, space-between, center);
  }
  // .header__links

  &__links {
    text-decoration: none;
    margin-left: 25px;
    @include font("Montserrat-Bold", 18px, normal, normal, 20px, #000);
    position: relative;
    transition: all 0.3s ease;

    &:first-child {
      margin-left: 0;
    }

    &::after {
      content: "";
      width: 0;
      height: 2px;
      background: #5e86ed;
      position: absolute;
      left: 0;
      bottom: -27px;
    }
    &.active {
      &::after {
        width: 100%;
      }
    }
    &:hover {
      color: rgb(112, 112, 112);
    }
  }
}

//===========MAIN=============\\

.main {
  width: 100%;
  margin: 150px 0 150px 0;

  @media (max-width: 768px) {
    margin: 80px 0 80px 0;
  }

  // .main__flex

  &__flex {
    max-width: 100%;
    
    @include flex(1 1 50%, space-around, center);

    @media (max-width: 600px) {
      flex-direction: column;
    }
  }

  // .main__content

  &__content {
    padding: 0 16px;
    @media (max-width: 600px) {
      order: 2;
    }
  }

  // .main__subtitle

  &__subtitle {
    @include font("Montserrat-Regular", 20px, 400, normal, 24px, #25459a);

    margin-bottom: 10px;

    @media (max-width: 768px) {
      @include font("Montserrat-Regular", 14px, 400, normal, 24px, #25459a);
    }
  }

  // .main__title

  &__title {
    @include font("Montserrat-Bold", 56px, 600, normal, 115%, #3a4149);

    margin-bottom: 10px;

    @media (max-width: 768px) {
      @include font("Montserrat-Bold", 34px, 600, normal, 105%, #3a4149);
    }
  }

  // .main__text

  &__text {
    @include font("Montserrat-Regular", 20px, 400, normal, 164.09%, #3a4149);

    margin-bottom: 20px;

    @media (max-width: 768px) {
      @include font("Montserrat-Regular", 14px, 400, normal, 144.09%, #3a4149);
    }
  }

  &__btn {
    padding: 15px 40px;
  }
}

.ourFunny {
  width: 100%;
  margin-bottom: 150px;

  @media (max-width: 768px) {
    margin-bottom: 80px;
  }
  // .ourFunny__flex

  &__flex {
    max-width: 100%;
    padding: 0 20px;
    
    @include flex(1 1 33.333333%, space-around, center);

    @media (max-width: 1200px) {
      flex-direction: column;
    }
  }

  // .ourFunny__cards

  &__cards {
    max-width: 370px;
    margin-left: 30px;

    &:first-child {
      margin-left: 0;
    }
    
    text-align: center;

    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.305);
    border-radius: 15px;
    background: #fff;

    overflow: hidden;

    @media (max-width: 1200px) {
      margin-left: 0;
      margin-bottom: 30px;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  // .ourFunny__img

  &__img {
    margin-bottom: 20px;
  }

  // .ourFunny__cardsTitle

  &__cardsTitle {
    @include font("Montserrat-Regular", 20px, 600, normal, 115.09%, #3a4149);
    margin: 0 20px 25px 20px;
  }

  // .ourFunny__cardsText

  &__cardsText {
    @include font("Montserrat-Regular", 18px, 400, normal, 115.59%, #3a4149);
    margin: 0 20px 25px 20px;
  }

  &__decorLine {
    display: block;
    width: 100%;
    margin-bottom: 25px;
    
    border: 1px solid #dddddd;

    position: relative;

    &::after,
    &::before {
      content: '';
      width: 25px;
      height: 25px;
      border-radius: 50%;
      background: #dddddd;
      position: absolute;
    }

    &::after {
      left: -12.5px;
      top: 50%; margin-top: -12.5px;
    }
    &::before {
      right: -12.5px;
      top: 50%; margin-top: -12.5px;
    }
  }
}


.review {
  width: 100%;
  padding: 0 30px;
  margin-bottom: 150px;
  
  @media (max-width: 768px) {
    margin-bottom: 80px;
  }
  // .review__card

  &__card {
    max-width: 903px;
    max-height: 447px;
    margin: 100px auto 0 auto;

    background: #5E86ED;
    border-radius: 20px;
    transform: rotate(-6.23deg);

    @media (max-width: 768px) {
      margin: 0 auto;
    }
  }

  // .review__img

  &__img {
    transform: rotate(6.23deg);
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
    position: relative;
  }

  // .review__btn

  &__btn {
    max-width: 15%;
    max-height: 15%;
    position: absolute;
    top: 50%; margin-top: -7.5%;
    left: 50%; margin-left: -7.5%;

    &>img {
      border-radius: 50%;
      transition: all .4s ease;
    }

    &:hover > img {
        transform: scale(1.1);
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.397);
    }
  }
}